<div class="filter-bar">
  <ion-searchbar
    [placeholder]="placeholder"
    (ionInput)="changeSearch($event)"
    (ionClear)="clearSearch()"
    debounce="300"
  ></ion-searchbar>

  <ion-item *ngIf="sortOptions.length > 0" lines="none" class="sort-item">
    <ion-select [placeholder]="'Ordenar por'" (ionChange)="changeSort($event)">
      <ion-select-option *ngFor="let option of sortOptions" [value]="option.value">
        {{ option.text }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</div>
