<div class="pagination-container">
  <div class="pagination-controls">
    <ion-button [disabled]="!hasPreviousPage()" (click)="previousPage()" fill="clear" size="small">
      <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
    </ion-button>

    <div class="page-buttons">
      <ion-button
        *ngFor="let page of visiblePages()"
        [fill]="page === currentPage ? 'solid' : 'clear'"
        [color]="page === currentPage ? 'primary' : 'medium'"
        (click)="goToPage(page)"
        size="small"
        class="page-button"
      >
        {{ page }}
      </ion-button>
    </div>

    <ion-button [disabled]="!hasNextPage()" (click)="nextPage()" fill="clear" size="small">
      <ion-icon name="chevron-forward" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <div class="pagination-info" *ngIf="totalItems > 0">
    <span class="info-text">
      {{ (currentPage - 1) * itemsPerPage + 1 }} -
      {{ Math.min(currentPage * itemsPerPage, totalItems) }}
      de {{ totalItems }} itens
    </span>
  </div>
</div>
